

<% flats = data.flats[person_name] %>




<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path flats.picture %>'); height: 75vh; background-position: center;">
  <div class="banner-content">
    <h1>Some Stuff</h1>
    <p>Very cool stuff, useful and smart</p>
     <!-- Button trigger modal -->
     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">contactez nous</button>
     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">New message</h4>
          </div>
          <div class="modal-body">
            <iframe src="https://docs.google.com/forms/d/1mqrviQa3HWd0MYzsXEk_jg8SezZkjjbbKX-P8HTtQo0/viewform?embedded=true#start=openform" width="400" height="300" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send message</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">

  <!-- The justified navigation menu is meant for single line per list item.
       Multiple lines will require custom code not provided by Bootstrap. -->
<div class="masthead :hover">
  <h3 class="text-muted text-center">fun Arena</h3>
  <nav>
    <ul class="nav nav-justified">
      <li class="active"><a> <%= link_to 'Home', '/index.html', :relative => true, class: "btn btn-danger" %></a></li>
      <li><a> <%= link_to data.flats.bubble.name, '/flats/bubble.html', class: "btn btn-danger" %></a></li>
      <li><a> <%= link_to data.flats.archer.name, '/flats/archer.html', class: "btn btn-danger"%></a></li>
      <li><a> <%= link_to data.flats.sumo.name, '/flats/sumo.html', class: "btn btn-danger"%></a></li>
      <li><a> <%= link_to data.flats.bumball.name, '/flats/bumball.html', class: "btn btn-danger"%></a></li>
      <li><a> <%= link_to data.flats.structure_glonfle.name, '/flats/structure_glonfle.html', class: "btn btn-danger" %></a></li>
    </ul>
  </nav>
</div>

  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1>Marketing stuff!</h1>
    <p class="lead">Parce que VOUS aussi, vous avez le droit de venir vous É C L A T E R !!!</p>


    <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-video" data-allowfullscreen="1" data-href="https://www.facebook.com/Bubblebumpofficiel/videos/682246591875123/"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/Bubblebumpofficiel/videos/682246591875123/"><a href="https://www.facebook.com/Bubblebumpofficiel/videos/682246591875123/"></a><p>CHAMPIONNAT DE FRANCE 2015 DE BUBBLE BUMP Le 28 Juin 2015 , les Meilleurs Bumpeurs de France (et quelques intrus ;) ) se sont donnés Rendez Vous à Toulouse pour Nous OffrirDu Bump, De l&#039; Émotion, De la Compétition, Des Célébrations,Du Fun,Du Plaisir et Encore Des Bumps .... !Une journée EXCEPTIONNELLE et BUMPESQUE !!Enjoyez, Likez et Sharez ....  !! ;)N&#039;oubliez pas de cliquer sur le petit bouton &quot;HD&quot; en bas à gauche ainsi que de cliquer sur www.bubblebump.fr pour trouver VOTRE Bubble Bump</p>Posted by <a href="https://www.facebook.com/Bubblebumpofficiel/">Bubble Bump</a> on Monday, July 13, 2015</blockquote></div></div>
    <br>
    <br>
    <br>
    <p>Tarifs :</p>

    <p>- 1 session de 3 parties (durée totale 30 min) 15€ par personne</p>
    <p>- La session de 1h tout compris (matériel, terrain, animation) forfait de 200€
    (nb de personnes illimité pour cette dernière offre)</p>

    <p>Il faut réserver par le biais d'un message privé fbk ou via le 06 50 84 65 94</p>

    <p>" Parce que VOUS aussi, vous avez le droit de venir vous É C L A T E R !! "
    L'équipe de BuBBle Bump</p>
    <p>     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">contactez nous</button></p>
  </div>

      <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-4">
      <h2>Nos bulle!</h2>
      <p class="text-danger">Le concept nous vient tout droit de Norvège et est UNIQUE en france !!</p>

       <p>Nous vous proposons de venir vous ÉCLATER à essayer le Bubble Bump (mélange de Foot et de Rugby dans des bulles gonflées d'air)
      Le concept est tout simplement ÉNORME , très ludique et physique et créée le Buzz dans toute la france en vous permettant de vous "entrechoquer" sans risque.</p>

      <p>On prend presque autant de plaisir à regarder qu'à jouer au Bubble Bump ;)
      Vous n'êtes pas encore convaincu ? ... Visionnez une des "vidéo souvenir" que nous réalisons pour les groupes qui viennent Bubble Bumper et vous aurez la preuve en images ! délires et fous rires garantis !</p>

      <p>Tout le monde a envie de s'essayer à Bubble Bump ... alors dépêchez vous de vous positionner pour des créneaux à partager avec vos amis .</p>
      <p></p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="pad fa fa-facebook-square"></i>acebook </h2>
      <div class="fb-page"
           data-tabs="timeline"
           data-href="https://www.facebook.com/bubblebump64/?pnref=lhc"
            data-width="430">
      </div>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <!-- Site footer -->
  <footer class="footer">
    <p>&copy; 2015 Company, Inc.</p>
  </footer>

</div> <!-- /container -->


  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>









<% flats = data.flats[person_name] %>
