

<% flats = data.flats[person_name] %>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1742516322697561',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>



<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path  data.flats[person_name].picture %>'); height: 75vh; background-position: center;">
  <div class="banner-content">
    <h1><%= data.flats[person_name].name %></h1>
     <!-- Button trigger modal -->
     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">contactez nous</button>
     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Vos messages</h4>
          </div>
          <div class="modal-body ">
            <form action="https://formspree.io/bubblefoot64@gmail.com" method="POST">
              <div class="row ">
                <textarea type="text" name="_text" class=" col-xs-offset-1 col-xs-10" placeholder="vos question ?"></textarea>
                <div class="form-paddin"></div>
                <br>
                <input type="email" name="_replyto" class=" col-xs-offset-1 col-xs-10" placeholder="votre Email :)">
                <div class="form-paddin"></div>
                <br>
                <input type="submit" class="col-xs-offset-4 col-xs-4" value="Envoi">
                <input type="hidden" name="_next" value="http://localhost:4567/flats/archer.html" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flat-banner ">
  <h3 class="text-muted text-center"> <%= link_to 'Fun Aréna', '/index.html',class: "white-color", :relative => true %>
  </h3>
</div>
<div class="background-flats-show">
  <div class="container">

    <!-- The justified navigation menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->

    <div class="masthead :hover">
      <h3 class="text-muted text-center">
    </div>

    <div>
      <nav>
        <div class="row">
          <div class=" col-xs-4 col-lg-12">
            <ul class="nav nav-justified ">
              <li class="active"><a> <%= link_to 'Home', '/index.html', :relative => true, class: "btn btn-danger" %></a></li>
              <li><a> <%= link_to data.flats.bubble.name, '/flats/bubble.html', class: "btn btn-danger" %></a></li>
              <li><a> <%= link_to data.flats.archer.name, '/flats/archer.html', class: "btn btn-danger"%></a></li>
              <li><a> <%= link_to data.flats.sumo.name, '/flats/sumo.html', class: "btn btn-danger"%></a></li>
              <li><a> <%= link_to data.flats.bumball.name, '/flats/bumball.html', class: "btn btn-danger"%></a></li>
              <li><a> <%= link_to data.flats.lazer.name, '/flats/lazer.html', class: "btn btn-danger" %></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>


          <!-- Example row of columns -->
    <div class="row">
      <div class=" col-xs-12 col-lg-4">
        <h2 style="color: #44619D;"><i class="pad fa fa-facebook-square"></i>acebook </h2>
          <div class="fb-page"
                data-tabs="messages,events,timeline"
                data-href="https://www.facebook.com/FUN-ARENA-241864466148382/?fref=ts"
                data-width="330"
                data-hide-cover="false">
          </div>
      </div>
      <div class="col-xs-12 col-lg-8 text-center">
        <h2><i class="fa fa-youtube rouge" > </i> Montage video souvenir </h2>
        <iframe id="ytplayer" type="text/html" width="640" height="390"
                src="http://www.youtube.com/embed/XOAKSuD6qR0?autoplay=1&origin=https://www.youtube.com/watch?v=XOAKSuD6qR0"
                frameborder="0"/>
        </iframe>
        <div class="row">
            <h3><i class="fa fa-video-camera rouge " > </i> Montage video a la demande <i class="fa fa-video-camera fa-rotate-180 rouge "></i></h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="air-banner">
         <h3></h3>
          <p class="lead"></p>
      </div>
    </div>
        <!-- Jumbotron -->
    <div class="pad-jumbo">
      <div class="wapes">
        <h1 class="text-center jumbo-tittle">Fun activité</h1>
        <p class="lead text-center ">Notre aréne</p>
        <div class="row">
          <div class="col-xs-12 text-center">
           <iframe width="1067" height="580" src="https://www.youtube.com/embed/NzGOYQYBisM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="text-center">
          <p>Tarifs <%= data.flats[person_name].name %> :</p>

          <p> prix par personne : <%= image_tag (data.flats[person_name].prix) %></p>
          <p> prix du forfait pour 8 personne : <%= image_tag (data.flats[person_name].forfait) %> </p>
          <p> <%= data.flats[person_name].enfants %> </p>
          <p> <%= data.flats[person_name].adultes %> </p>
          <p> <%= data.flats[person_name].etudiant %> </p>
          <p> <%= data.flats.Packsadultes %> </p>
          <p> <%= data.flats.Packsenfants %> </p>
          <p> <%= data.flats.Formulesanniversaire %> </p>

          <a download="archer.jpg" href="../images/archer.jpg" title="invit">
            <img alt="invit" src="../images/archer.jpg">
          </a>
          <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">contactez nous</button></p>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
</div>
  <!-- Site footer -->



  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>



<% flats = data.flats[person_name] %>
