
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active" class="img-responsive">
        <%= image_tag "Bubblephoto.jpg",class: "first-slide",class: "img-responsive center-block" %>
        <div class="title-fun">
          <h1><% image_tag "LogoFA.png", height: "100" %></h1>
        </div>
      </div>
      <div class="item">
        <%= image_tag "Bubbleebpo.jpg",class: "second-slide",class: "img-responsive center-block"  %>
        <div class="title-fun">
          <h1><% image_tag "Logofunarena.png" %></h1>
        </div>
      </div>
      <div class="item">
        <%= image_tag "archerphoto.jpg",class: "third-slide",class: "img-responsive center-block" %>
        <div class="title-fun">
          <h1><% image_tag "Logofunarena.png" %></h1>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only" >Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <script>
    $(document).ready(function() {
       $("#myCarousel").swiperight(function() {
          $("#myCarousel").carousel('prev');
        });
       $("#myCarousel").swipeleft(function() {
          $("#myCarousel").carousel('next');
       });
    });
  </script>


<div id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                  <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand page-scroll nav-color" href="#page-top">
               <%= image_tag "LogoFA.png", width: "150", height: "150", class: "img-circle", class: "logo-padd" %>
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                  <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                  <li class="hidden">
                      <a href="#page-top"></a>
                  </li>
                  <li>
                      <a class="page-scroll nav-color" href="#about">Nos activités</a>
                  </li>
                  <li>
                      <a class="page-scroll nav-color" href="#download">Nous rejoindre</a>
                  </li>
                  <li>
                      <a class="page-scroll nav-color" href="#contact">Bubble Bump</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1742516322697561',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<section id="about" class="container content-section text-center">

</div>
  <div class="welcome text-center padded lim-home tittle-color ">
    <h1>Bienvenue dans l'arène </h1>
  </div>
</div>
  <!-- Carousel
  ================================================== -->

</section>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
<!-- Three columns of text below the carousel -->

  <div class="row pad-face">
    <div class="col-xs-12 col-lg-4 ">
      <div class="wapes text-center">
        <img class="img-circle">
        <%= link_to (image_tag "bubble.jpeg", width: "140", height: "140", class: "img-circle"),
       '/flats/bubble.html'%>
        <h2><%= link_to data.flats.bubble.name, 'flats/bubble.html'%></h2>
        <p>Inutile d’être un cador des terrains de foot depuis son enfance, la première qualité est d’oser se lâcher pour prendre du plaisir et la deuxième de tenir debout… moins facile qu’il n’y paraît.</p>
        <p><a class="btn btn-default" href="/flats/bubble.html" role="button">View details &raquo;</a></p>
      </div>
    </div><!-- /.col-lg-4 -->
    <div class="col-xs-12 col-lg-4">
      <div class="wapes text-center">
        <img class="img-circle">
         <%= link_to (image_tag "archer.jpg", width: "140", height: "140", class: "img-circle"),
          '/flats/archer.html'%>
        <h2><%=  link_to data.flats.archer.name, '/flats/archer.html' %></h2>
        <p>Vous êtes fan d'Hunger Game ? Venez régler des comptes entre amis grâce à Archer Aréna. Ce mélange de paintball et de balle au prisonnier permet de s'affronter en toute sécurité dans des combats délirants à l'arc.</p>
        <p><a class="btn btn-default" href="/flats/archer.html" role="button">View details &raquo;</a></p>
      </div>
    </div><!-- /.col-lg-4 -->
    <div class="col-xs-12 col-lg-4">
      <div class="wapes text-center">
        <img class="img-circle">
          <%= link_to (image_tag "sumo-blanc.png", width: "140", height: "140", class: "img-circle"),
           '/flats/sumo.html'%>
        <h2><%= link_to data.flats.sumo.name, '/flats/sumo.html' %></h2>
        <p>Se mettre dans la peau d’un sumo le temps d’un combat. Costumes pour petits et grands sont mis à la disposition des participants. Le combat de sumo est une activité se pratiquant sur tout type de terrain</p>
        <p><a class="btn btn-default" href="/flats/sumo.html" role="button">View details &raquo;</a></p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-offset-2 col-lg-4">
      <div class="wapes text-center">
        <img class="img-circle">
         <%= link_to (image_tag "cardsbumb.jpg", width: "140", height: "140",  class: "img-circle"),
         '/flats/bumball.html' %>
        <h2><%= link_to data.flats.bumball.name, '/flats/bumball.html' %></h2>
        <p>Le bumball est un jeu collectif dont le but est de réceptionner le ballon dans une des zones adverses et se pratique à l’intérieur comme à l’extérieur. Ce sport favorise la coopération entre les joueurs et développe l’agilité et l’anticipation.</p>
        <p><a class="btn btn-default" href="/flats/bumball.html" role="button">View details &raquo;</a></p><!-- /.col-lg-4 -->
      </div>
    </div>
    <div class="col-xs-12 col-lg-4">
      <div class="wapes text-center">
        <img class="img-circle">
          <%= link_to (image_tag "oyanalaser.jpg", width: "140", height: "140", class: "img-circle"),
           '/flats/lazer.html' %>
        <h2><%= link_to data.flats.lazer.name,
          '/flats/lazer.html' %></h2>
        <p>Deux équipes se disputent le contrôle de notre arène.Vous affrontez les adversaires que vous croiserez pour conquérir le drapeau adverse.En famille, entre amis ou entre collègues,  équipé de votre pointeur laser et de votre bandeau, venez disputer une partie en toute sécurité.</p>
        <p><a class="btn btn-default" href="/flats/lazer.html" role="button">View details &raquo;</a></p><!-- /.col-lg-4 -->
      </div>
    </div>
  </div>
</div><!-- /.row -->
<div class="banner-event">
  <section id="download" class="container content-section text-center">
  <h2 class="event-letter"><i class="pad fa fa-facebook-square event-letter"></i>acebook </h2>
  <div class="card-category event-letter">Evènements</div>
  <div class="card-description">
    <h2 class="event-letter">Venez nous rejoindre !!</h2>
  </div>
</div>
  <div class="wap container content-section text-center">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div class="fb-page"
              data-tabs="timeline,events,messages"
              data-href="https://www.facebook.com/FUN-ARENA-241864466148382/?fref=ts"
              data-width="580"
              data-height="650"
              data-hide-cover="false">
        </div>
      </div>
      <div class="col-xs-12 col-xs-6 col-lg-6">
        <div class="fb-page"
              data-tabs="timeline,events,messages"
              data-href="https://www.facebook.com/bubblebump64/?fref=ts"
              data-width="580"
              data-height="650"
              data-hide-cover="false">
        </div>
      </div>
    </div>
    <div class="container partenaire-particulier ">
     <h2 class="featurette-heading tipo ">les partenaires</h2>
      <div class="row">
        <div class="col-xs-6 col-lg-3">
         <%= link_to (image_tag "partenaire1.png", width: "220", height: "140"), 'https://www.facebook.com/soccer.indoor.pyrenees/info/?section=hours&tab=page_info',target: '_blank'%>
        </div>
        <div class="col-xs-6 col-lg-3">
         <%= link_to (image_tag "partenaire2.png", width: "220", height: "140"), 'http://www.sbsoccer.fr/',target: '_blank'%>
        </div>
        <div class="col-xs-6 col-lg-3">
         <%= link_to (image_tag "partenaire3.png", width: "220", height: "140"), 'http://www.acrojungle.fr/',target: '_blank'%>
        </div>
        <div class="col-xs-6 col-lg-3">
         <%= link_to (image_tag "partenaire4.png", width: "220", height: "140"), 'http://www.soccerpark.fr/',target: '_blank' %>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="featurette-divider">
</section>
    <!-- START THE FEATURETTES -->
    <!-- <hr class="featurette-divider"> -->

<section id="contact">
<div class="row featurette">
  <div class="col-md-offset-1 col-md-7">
    <h2 class="featurette-heading">A vous de jouer <span class="text-muted"></span></h2>
    <p class="lead">Il n’y a aucun danger, les joueurs sont protégés par la bulle qui couvre toutes les parties du corps hormis le bas des jambes. Et oui, il faut quand même courir pour jouer dans notre arène.</p>
  </div>
  <div class="col-md-4">
    <img class="featurette-image img-responsive center-block">
     <%= image_tag "bubble.jpeg", width: "400", height: "300" %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-offset-1 col-md-6 col-md-push-4">
    <h2 class="featurette-heading"><span class="text-muted"></span>Un vrai défouloir</h2>
    <p class="lead">N’oublions pas quand même que c’est un sport physique où l’on se défoule vraiment et il faut des temps de pause. Sur le principe, on joue 4,30 minutes puis une pause de récupération pour repartir de plus belle.</p>
  </div>
  <div class="col-md-4 col-md-pull-6">
    <img class="featurette-image img-responsive center-block">
      <%= image_tag "bubble.jpg", width: "400", height: "300" %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-offset-1 col-md-6">
    <h2 class="featurette-heading">Souriez <span class="text-muted">vous êtes filmés</span></h2>
    <p class="lead">Si vous le souhaitez, l’arbitre peut s’équiper d’une caméra et filme la partie au cœur de l’action, pas pour faire de l’arbitrage vidéo (quoi que, quelques fois, c’est limite limite), mais pour vous proposer un souvenir de ce moment exceptionnel à conserver et à regarder entre amis</p>
  </div>
  <div class="col-md-4">
    <img class="featurette-image img-responsive center-block">
    <%= image_tag "camera.jpg", width: "400", height: "300" %>
  </div>
</div>

</section>
<hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


    <!-- FOOTER -->


    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- Scrolling Nav JavaScript -->
    <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.1.4/scrollreveal.min.js"></script>

  </div>
</div>

